# Virtual environment
.venv/
venv/
env/

# Data & Models
data/raw/
data/processed/
data/metadata/*.csv
data/splits/
data/splits_*
models/**/*.pkl
models/**/*.pth
saved_models/
results_bundle.zip

# Python cache & artifacts
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/
.pytest_cache/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
